body{
    margin: 0;
    padding: 0;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

img {
    width: 100%;
}

.container{
    max-width: 390px;
}

.inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.item {
    text-align: center;
    margin: 3px;
}